
* {box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body{
    margin: 0;
    padding: 0;
    transition: 1s all ease-in-out;
}

.container{
    width: 80%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

@media(max-width:426px){
    .container{
        width: 85%;
    }
    .center{
        flex-direction: column;
    }
}

